@model IEnumerable<Project_try3.Models.Products>
@{
    ViewBag.Title = "MyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //string action;
    //string GpID;
    //if (Model.FirstOrDefault().Orderdetails.FirstOrDefault().Orders.GroupBuyingID != null)
    //{
    //    action = "CreateforGP";
    //    GpID = "GPID="+Model.FirstOrDefault().Orderdetails.FirstOrDefault().Orders.GroupBuyingID;
    //}

    //action = "Create";
    //GpID = null;

}


<h2 class="alert alert-success text-center">購物車</h2>
<div id="myCart">

</div>
<div class="text-right">
    <button id="renewCart" class="btn btn-primary"><i class="bi bi-cart-plus-fill" type="button" data-toggle="tooltip" data-placement="bottom" title="更新購物車"></i>更新購物車</button>
    <button id="clearCart" class="btn btn-warning"><i class="bi bi-cart-x-fill" type="button" data-toggle="tooltip" data-placement="bottom" title="清空購物車"></i> 清空購物車</button>
    <a id="checkout" href="@Url.Action("CreateforGP","Orders",new { storeSN = Model.FirstOrDefault().StoreSN })" class="btn btn-success"><i class="bi bi-cash-coin" type="button" data-toggle="tooltip" data-placement="bottom" title="確定結帳"></i> 確定結帳</a>
</div>
<div>
    <button class="btn btn-link"><i class="bi bi-arrow-90deg-left"></i>@Html.ActionLink("回到店家首頁 ", "Index", "Stores", null, null)</button>
</div>
@section script{

    <script>
        //tooltip
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        //貨幣套件
        let toNTD = new Intl.NumberFormat('zh-TW', {
            style: 'currency',
            currency: 'NTD'
        })
        //讀取localstorage內容，顯示於畫面購物車明細
        var cart = [];

        //ES6寫法會把function當成一個變數,但無法在宣告變數前呼叫函式

        let initCart = () => {
            //如果localStorage還沒有cart陣列，或cart陣列內沒有商品
            if (!localStorage.getItem("cart") || localStorage.getItem("cart") == "[]") {
                $('#myCart').html(`<h2 class="text-center">目前購物車內沒有商品</h2>`);
            } else {

                cart = JSON.parse(localStorage.getItem("cart"));
                let cartList = "";
                let total = 0;
                let c = 0;
                for (let item of cart) {
                    total += item.Quanity * item.PPrice;

                    cartList +=
                        `<div class="media p-4 mb-3 border-bottom border-dark">
                                <h2 class="align-self-center text-black-50 mr-5">${++c}</h2>
                            <img src="/Products/GetImage/${item.PID}" class="mr-3" width="200" alt="...">
                                <div class="media-body">

                                <h5 class="mt-0"><strong>${item.PName}</strong></h5>
                                     <p>
                                         <span>數量：<input type="text" id="${item.PID}" value="${item.Quanity}" style="width:50px"/></span>
                                         <span>價格：$${item.PPrice}</span>
                                     </p>
                                        <hr/>
                                        <h4 class=text-right><strong>小計：<span class=text-danger>$${toNTD.format(item.Quanity * item.PPrice)}</span></strong>
                                        <button title="btnDelete" class="btn btn-danger" id="${c}"><i title="btnDelete" class="bi bi-trash3"></i>刪除</button>
                                        </h4>
                                 </div>
                             </div>`
                }
                $('#myCart').html(cartList);
                $('#myCart').append(`<h3 class="text-right">總計金額：<strong class="text-danger">$${toNTD.format(total)}</strong></h3>`);
            }
        };
        initCart();
        //清空購物車
        $('#clearCart').click(e => {
            if (confirm('確定清空購物車商品嗎？')) {
                cart = [];
                localStorage.removeItem("cart")
                initCart();
            }
        })
        //更新購物車
        $('#renewCart').click(() => {
            for (var item of cart) {
                //input要記得給id
                item.Quanity = $('#' + item.PID).val();
            }
            localStorage.setItem("cart", JSON.stringify(cart));
            initCart();
        })
        //移除單一品項
        $('#myCart').click(e => {
            //確定點擊到的按鈕為button
            //不可以直接在選擇器上選擇按鈕，因為需要刪除的是myCart的全部內容
            if (e.target.title == "btnDelete") {
                if (confirm('確定移除此商品')) {
                    //console.log(e.target.id-1);
                    //先把陣列裡的元素移掉
                    cart.splice(e.target.id - 1, 1);
                    //再把處理過後的陣列放回localstorage
                    localStorage.setItem("cart", JSON.stringify(cart))

                    initCart();
                }
            }
        })
    </script>
}

